<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Selenium Test Suite">
    <test name="Test Selenium">
        <classes>
            <class name="selenium_webdriver.HandlePopupsTest" />
            <class name="selenium_webdriver.DragAndDropTest" />
            <class name="selenium_webdriver.DynamicControlsTest" />
            <class name="selenium_webdriver.IFrameTest" />
            <class name="selenium_webdriver.WindowHandlesTest" />
        </classes>
    </test>
</suite>
